@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 30px 50px 85.9vh 10px 80vh 5px 60vh 3px 100vh 3px 75vh;
}

header {
    grid-column: 1/3;
    grid-row: 1/1;
    background-color: var(--varNavbar1);
}

.navigatorWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header img {
    margin-top: 2px;
    width: 36px;
    height: 36px;
    align-self: center;
}

header p {
    margin-inline-start: 2rem;
    color: white;
    align-self: center;
    font-family: 'Exo';
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

header a {
    transition: 0.3s all ease-in-out;
}


header p:hover, header a:hover {
    color: #ead2ac;
}

header a {
    text-decoration: none;
    color: white;
}
.wrapperBienvenida {
    grid-column: 1/4;
    grid-row: 2/2;
    background-color: var(--varNavbar2);
    display: flex;
    justify-content: center;
}

.wrapperBienvenida p {
    align-self: center;
    color: white;
    font-family: 'Quicksand';
}

.searchWrapper {
    grid-column: 1/4;
    grid-row: 3/3;
    background-color: var(--varNavbar2);
    display: flex;
    justify-content: center;
    align-content: center;
}

.textSearch {
    width: 400px;
    height: 35px;
    text-align: center;
    border-radius: 0;
    font-family: 'Quicksand';
    border: 0;
    transition: 0.3s all ease-in;
}

.buttonSearch {
    width: 70px;
    height: 35px;
    border-radius: 0;
    margin-left: -40px;
    background-color: #f7b267;
    display: flex;
    justify-content:center;
    padding: 5px;
    border-left: 1px solid black;
    cursor: pointer;
}

.textSearch:hover {
    width: 500px;  
}

.buttonSearch:hover {
    background-color: #f7c59f;
}

.searchWrapper:focus, input:focus{
    outline: none;
}

.showcaseWrapper {
    background-image: linear-gradient(to bottom, rgba(10, 30, 214, 0.3), rgba(197, 6, 156, 0.3), rgba(0,0,0,.5), rgba(0, 0, 0, 1)), url('../../RESOURCES/Backgrounds/restBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 4/5;
    border-top: 1px solid lightgreen;
    transition: 0.7s all;
}

.tarjetitasWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 4/4;
    height: 85.8vh;
    opacity: 0%;
    transition: all 0.7s ease-in-out;
}

.showcaseWrapper:hover .tarjetitasWrapper{
    opacity: 100%;
}

.showcaseWrapper:hover .tarjetitasWrapper h3 {
    margin-top: 50vh;
}

.tarjetitasWrapper h3, .tarjetitasWrapper p {
    justify-self: center;
    text-align: center;
}

.tarjetitasWrapper h3 {
    color: white;
    font-family: 'Exo';
    font-size: 28px;
    margin-top: 70vh;
    transition: all 0.7s ease-in-out;
}

.tarjetitasWrapper p {
    color: white;
    font-family: 'Quicksand';
    font-size: 12px;
}


.separador {
    grid-column: 1/4;
    grid-row: 5/5;
    background-color: #001427;
    border-top: 2px solid seagreen;
}

.showcaseRestaurantes {
    border-top: 2px solid seagreen;
    grid-column: 1/4;
    grid-row: 6/6;
    background: #ffa17f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa17f, #00223e);
  background: linear-gradient(to right, #ffa17f, #00223e);
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    color: white;
}

.tarjetaRestUno, .tarjetaRestDos, .tarjetaRestTres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 25vw;
    height: 70vh;
    background-color: black;
    align-self: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjetaRestUno {
    background-image:  linear-gradient(to bottom, rgba(47, 13, 199, 0.6), rgba(82, 12, 67, 0.5), rgba(2, 12, 26, 0.5), rgba(0, 0, 0, 1)), url('../../RESOURCES/Backgrounds/mtnBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tarjetaRestDos {
    background-image:  linear-gradient(to bottom, rgba(194, 3, 153, 0.6), rgba(92, 8, 74, 0.5), rgba(1, 4, 7, 0.5), rgba(0, 0, 0, 1)), url('../../RESOURCES/Backgrounds/mtnBackground2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tarjetaRestTres {
    background-image:  linear-gradient(to bottom, rgba(59, 10, 151, 0.6), rgba(82, 7, 65, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('../../RESOURCES/Backgrounds/mtnBackground3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.primerDiv {
    margin-top: 15rem;
    font-family: 'Exo';
    font-size: 24px;
}

.segundoDivT1, .segundoDivT2, .segundoDivT3 {
    padding: 25px;
    cursor:default;
    margin-bottom: -80px;
    opacity: 0%;
    text-align: center;
    transition: all 0.7s ease-in-out; 
}

.tarjetaRestUno:hover .segundoDivT1 {
    position: relative;
    opacity: 100%;
    margin-bottom: 0px;
}

.tarjetaRestDos:hover .segundoDivT2 {
    position: relative;
    opacity: 100%;
    margin-bottom: 0px;
}

.tarjetaRestTres:hover .segundoDivT3 {
    position: relative;
    opacity: 100%;
    margin-bottom: 0px;
}

.btnRestaurante {
    cursor: pointer;
    margin-top: 25px;
    width: 10vw;
    height: 5vh;
    border: 0;
    border-radius: 5px;
    background-color: #273e47;
    font-family: 'Exo';
    font-size: 16px;
    font-weight: bold;
    color: #e8dab2;
    text-transform: uppercase;
}

hr {
    position: absolute;
    background-color: #f4a261;
    border: 0;
    opacity: 0;
    width: 0vw;
    height: 0.5vh;
    transition: 0.5s all ease-in;
}

.tarjetaRestUno:hover .hr1 {
    width: 5.5vw;
    opacity: 100%;
    margin-bottom: 0px;
}

.tarjetaRestDos:hover .hr2 {
    width: 8.5vw;
    opacity: 100%;
    margin-bottom: 0px;
}

.tarjetaRestTres:hover .hr3 {
    width: 7.5vw;
    opacity: 100%;
    margin-bottom: 0px;
}

/* Media Queries para la primera parte de la práctica */

    .separadorDos {
        grid-row: 7/7;
        grid-column: 1/3;
        background-color: #001427;
    }
    .showcaseRecetas {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(2, 2, 2, 0.7), rgb(43, 2, 34, 0.5)), url('../../RESOURCES/Backgrounds/backgroundComida.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        grid-row: 8/8;
        grid-column: 1/3;
        text-align: center;
        color: white;
    }

    .textoRecetas {
        font-family: 'Exo';
        text-transform: uppercase;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        grid-column: 1/3;
    }

    .textoRecetas p {
        margin-top: 5px;
        font-size: 14px;
        font-family: 'Exo';
    }

    .roundMenufg {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 700px;
    }

    .roundMenu1, .roundMenu2, .roundMenu3, .roundMenu4, .roundMenu5, .roundMenu6 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 4px solid #ef8354;
        border-radius: 100%;
        width: 200px;
        height: 200px;
        margin-top: 10vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.7s ease-in-out;
        font-family: 'Exo';
    }

    .roundMenu1 {
        background-image: linear-gradient(to bottom, rgba(36, 14, 18, 0.7),rgba(48, 29, 29, 0.2), rgba(65, 3, 49, 0.6)), url('../../RESOURCES/Icons/lasañita.jpg');
    }

    .roundMenu1:hover .tituloProducto, .roundMenu1:hover .btnMenu, .roundMenu1:hover {
        opacity: 1;
    }
    .roundMenu1:hover {
        background-image: linear-gradient(to bottom, rgba(17, 1, 11, 0.9), rgba(0,0,0,0.2), rgba(17, 1, 11, 0.9)), url('../../RESOURCES/Icons/lasañita.jpg');
    }

    .roundMenu2 {
        background-image: linear-gradient(to bottom, rgba(36, 14, 18, 0.7),rgba(48, 29, 29, 0.2), rgba(65, 3, 49, 0.6)), url('../../RESOURCES/Icons/sarmale.jpg');
    }

    .roundMenu2:hover .tituloProducto2, .roundMenu2:hover .btnMenu2 {
        opacity: 1;
    }
    .roundMenu2:hover {
        background-image: linear-gradient(to bottom, rgba(17, 1, 11, 0.9), rgba(0,0,0,0.2), rgba(17, 1, 11, 0.9)), url('../../RESOURCES/Icons/sarmale.jpg');
    }

    .roundMenu3 {
        background-image: linear-gradient(to bottom, rgba(36, 14, 18, 0.7),rgba(48, 29, 29, 0.2), rgba(65, 3, 49, 0.6)), url('../../RESOURCES/Icons/sopasalmonfinlandesa.jpg');
    }

    .roundMenu3:hover .tituloProducto3, .roundMenu3:hover .btnMenu3 {
        opacity: 1;
    }
    .roundMenu3:hover {
        background-image: linear-gradient(to bottom, rgba(17, 1, 11, 0.9), rgba(0,0,0,0.2), rgba(17, 1, 11, 0.9)), url('../../RESOURCES/Icons/sopasalmonfinlandesa.jpg');
    }

    .roundMenu4 {
        background-image: linear-gradient(to bottom, rgba(36, 14, 18, 0.7),rgba(48, 29, 29, 0.2), rgba(65, 3, 49, 0.6)), url('../../RESOURCES/Icons/uudet.jpg');
    }

    .roundMenu4:hover .tituloProducto4, .roundMenu4:hover .btnMenu4 {
        opacity: 1;
    }

    .roundMenu4:hover {
        background-image: linear-gradient(to bottom, rgba(17, 1, 11, 0.9), rgba(0,0,0,0.2), rgba(17, 1, 11, 0.9)), url('../../RESOURCES/Icons/uudet.jpg');
    }

    .roundMenu5 {
        background-image: linear-gradient(to bottom, rgba(36, 14, 18, 0.7),rgba(48, 29, 29, 0.2), rgba(65, 3, 49, 0.6)), url('../../RESOURCES/Icons/poronkaristys.jpg');
        background-position: 0%;
    }

    .roundMenu5:hover .tituloProducto5, .roundMenu5:hover .btnMenu5 {
        opacity: 1;
    }

    .roundMenu5:hover {
        background-image: linear-gradient(to bottom, rgba(17, 1, 11, 0.9), rgba(0,0,0,0.2), rgba(17, 1, 11, 0.9)), url('../../RESOURCES/Icons/poronkaristys.jpg');
    }
    

    .tituloProducto, .tituloProducto2, .tituloProducto3, .tituloProducto4, .tituloProducto5 {
        opacity: 0;
        transition: all 0.7s ease-in-out;
    }

    .btnMenu, .btnMenu2, .btnMenu3, .btnMenu4, .btnMenu5 {
        text-transform: uppercase;
        background-color: #1b2021; 
        border: 0;
        color: #e8dab2;
        margin-top: 20px;
        text-align: center;
        justify-self: center;
        margin-left: 36px;
        width: 120px;
        height: 30px;
        opacity: 0;
        transition: all 0.7s ease-in-out;
        cursor: pointer;
    }

    .panelMenu {
        grid-column: 1/3;
        grid-row: 10/10;
        display: flex;
        flex-direction: row;
    }

    .varMenu {
        grid-column: 1/2;
        grid-row: 10/10;
    }

    .menu1, .menu2, .menu3, .menu4 {
        overflow: hidden;
        background-image: linear-gradient(to bottom, rgba(7, 4, 4, 0.5), rgba(26, 3, 31, 0.6)),url('../../RESOURCES/Images/menuHamburguesa.jpg');
        width: 50vw;
        height: 50vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content:center;
        text-align: center;
        flex-direction: column;
        transition: all 0.7s;
        border: 2px solid white;
    }

    .inputMenus {
        margin-bottom: 30px;
        width: 120px;
        height: 30px;
        
    }

    .menu1 p, .menu2 p, .menu3 p, .menu4 p {
        color: white;
        font-size: 18px;
        font-family: 'Exo';
        opacity: 0%;
        transition: 0.7s all ease-in-out;
    }

    .menu1 h1, .menu2 h1, .menu3 h1, .menu4 h1 {
        color: white;
        font-family: 'Quicksand';
        text-transform: uppercase;
    }

    .segundoDivMenu {
        margin-bottom: -50px;
        margin-top: 30px;
        
    }

    .menu1:hover .inputMenus {
        opacity: 100%;
        transform: scale(1);
    }

    .menu1:hover p {
        opacity: 100%;
    }

    .menu2:hover .inputMenus {
        opacity: 100%;
        transform: scale(1);
    }

    .menu2:hover p {
        opacity: 100%;
    }

    .menu3:hover .inputMenus {
        opacity: 100%;
        transform: scale(1);
    }

    .menu3:hover p {
        opacity: 100%;
    }

    .menu4:hover .inputMenus {
        opacity: 100%;
        transform: scale(1);
    }

    .menu4:hover p {
        opacity: 100%;
    }

    .inputMenus {
        text-transform: uppercase;
        background-color: #1b2021; 
        border: 0;
        color: #e8dab2;
        width: 180px;
        height: 60px;
        opacity: 0%;
        transition: all 0.7s ease-in-out;
        cursor: pointer;
        transform: scale(0.2);
    }

    .menu2 {
        background-image: linear-gradient(to bottom, rgba(3, 3, 3, 0.5), rgba(26, 3, 31, 0.6)),url('../../RESOURCES/Images/menuSano.jpg');
    }

    .menu3 {
        background-image: linear-gradient(to bottom, rgba(3, 3, 3, 0.5), rgba(26, 3, 31, 0.6)),url('../../RESOURCES/Images/cafes.jpg');
    }

    .menu4 {
        background-image: linear-gradient(to bottom, rgba(3, 3, 3, 0.5), rgba(26, 3, 31, 0.6)),url('../../RESOURCES/Images/postres.jpg');
    }

    .divInteraccion {
        grid-column: 2/3;
        grid-row: 10/10;
        background-color: black;
    }

    .reservasWrapper {
        background-image: linear-gradient(to bottom, rgba(57, 3, 65, 0.5), rgba(17, 13, 13, 0.7), rgba(35, 2, 39, 0.6)), url('../../RESOURCES/Backgrounds/restaurantBackground.jpg');
        grid-column: 1/3;
        grid-row: 12/12;
        background-position: 5% 5%;
        background-size: cover;
        transition: all 1s ease-in-out;
        display: flex;
        justify-content:center;
        text-align: center;
        flex-direction: column;
        border-top: 1px solid lightgreen;
    }

    .formularioReservas {
       color: white;
       font-family: 'Quicksand';
       transition: all 0.3s ease-in-out;
       opacity: 0%;
    }

    .formularioReservas table {
        display: flex;
        justify-content: center;
    }

    .formularioReservas input {
        margin-left: 2px;
        width: 300px;
        height: 20px;
        border: 0;
        background-color: transparent;
        margin-top: -10px;
        border-bottom: 1px solid darkmagenta;
        color: white;
        font-family: 'Exo';
        
    }

    .reservasWrapper:hover .formularioReservas {
        opacity: 100%;
    }

    .reservasWrapper:hover {
        background-position: 5% 95%;
    }

    .reservasWrapper:hover h1 {
        opacity: 100%;
    }

    .reservasWrapper:hover p {
        opacity: 100%;
    }

    .reservasWrapper:hover .inputReserva {
        opacity: 100%;
        transform: scale(1);
    }

    .reservasWrapper h1, .reservasWrapper p {
        opacity: 0%;
        color: white;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    .reservasWrapper h1 {
        font-family: 'Exo';
        font-size: 21px;
    }

    .inputReserva {
        margin-top: 30px;
        text-transform: uppercase;
        background-color: #1b2021; 
        border: 0;
        color: #e8dab2;
        opacity: 0%;
        width: 180px;
        height: 60px;
        transition: all 0.7s ease-in-out;
        cursor: pointer;
        transform: scale(0);
    }

    footer {
        width: 100vw;
        height: 20vh;
        background-color: var(--varNavbar2);
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        color: white;
        font-family: 'Quicksand';
        border-top: 1px solid lightgreen;
    }

    footer .searchWrapper {
        margin-top: 20px;
    }

    .restaurantReplacement {
        display: none;
        color: black;
        background-color: white;
        grid-column: 1/3;
        grid-row: 6/6;
        background-image: linear-gradient(to bottom, rgba(116, 116, 116, 0.5), rgba(17, 13, 13, 0.3), rgba(35, 2, 39, 0.6)), url('../../RESOURCES/Backgrounds/restaurantReplacementBg.jpg');
        background-size: cover;
        transition: all 1s ease-in-out;
        justify-content:center;
        text-align: center;
        flex-direction: column;
        border-top: 1px solid lightgreen;
    }

    .recetasReplacement {
        display: none;
        color: black;
        background-color: white;
        grid-column: 1/3;
        grid-row: 8/8;
        background-image: linear-gradient(to bottom, rgba(12, 11, 11, 0.5), rgba(119, 8, 110, 0.3), rgba(35, 2, 39, 0.6)), url('../../RESOURCES/Backgrounds/recetasReplacement.jpg');
        background-size: cover;
        transition: all 1s ease-in-out;
        justify-content:center;
        text-align: center;
        flex-direction: column;
        border-top: 1px solid lightgreen;
    }

    .restaurantReplacement div {
        margin-top: 30vh;
    }

    .inputReplacement {
        margin-top: 30px;
        margin-top: 30px;
        text-transform: uppercase;
        background-color: #1b2021; 
        border: 0;
        color: #e8dab2;
        width: 180px;
        height: 60px;
        cursor: pointer;
    }

    .divUno h3 {
        margin-top: 15px;
        font-family: 'Exo';
    }


    @media screen and (max-width: 1400px) {
        .showcaseRestaurantes {
            display: none;
        }

        .restaurantReplacement {
            display: initial;
            display: flex;
        }

        .recetasReplacement {
            display: initial;
            display: flex;
        }
    }
    
    @media screen and (max-width: 1200px) {
        #gridWrapper {
        grid-template-rows: 40px 30px 50px 85.9vh 30px 80vh 5px 60vh 5px 100vh 100vh 5px 75vh;
        }
        .tarjetitasWrapper h3 {
            padding-left: 100px;
            padding-right: 100px;
            padding-bottom: 3px;
            font-size: 15px;
        }

        .tarjetitasWrapper p {
            padding-left: 25px;
            padding-right: 25px;
            font-size: 8px;
        }

        .showcaseWrapper:hover .tarjetitasWrapper h3 {
            margin-top: 40vh;
        }

        .wrapperBienvenida p {
            font-size: 12px;
        }
        .showcaseRecetas {
            display: none;
        }

        .varMenu {
            grid-column: 1/2;
            grid-row: 10/10;
        }

        .divInteraccion {
            grid-column: 1/2;
            grid-row: 11/11;
            background-color: black;
        }

        .reservasWrapper {
            grid-row: 13/13;
        }
        .menu1, .menu2, .menu3, .menu4 {
            width: 100vw;
        }
    }
    @media screen and (max-width: 360px) {
            header p {
                font-size: 12px;
                }
            .textSearch {
                font-size: 10px;
                width: 300px;
            }
    
            .textSearch:hover {
                width: 350px;
            }

            .menu1 p, .menu2 p, .menu3 p, .menu4 p {
                font-size: 12px;
                padding-right: 25px;
                padding-left: 25px;
            }

            .menu1 h1, .menu2 h1, .menu3 h1, .menu4 h1 {
                font-size: 20px;
            }

            .inputMenus {
                width: 60px;
                height: 30px;
            }

            .reservasWrapper .textoReservas, .reservasWrapper .formularioReservas {
                padding: 25px;
            }

            .formularioReservas {
                padding: 50px;
            }
    
           
        }

        
    
        @media screen and (max-width: 380px) {
            header p {
                font-size: 10px;
                margin: 12px;
                }
    
                .textSearch {
                    margin-top: 7px;
                    font-size: 10px;
                    width: 250px;
                }

                .buttonSearch {
                    margin-top: 7px;
                }
        
                .textSearch:hover {
                    width: 270px;
                }
        }